<body>
  <div class="img-bg">
    <div class="flex">
      <h1>Qui sommes-nous ?</h1>
      <div class="encadre">
        <p>
          JYTA Technologies est une jeune entreprise constituée d’experts
          passionnés, aux services de vos défis les plus innovants.
        </p>
      </div>
      <div class="fond-trans">
        <div class="text">
          <h3>Bienvenue chez JYTA Technologies</h3>

          <p class="white">
            JYTA Technologies s’adresse tout aussi bien aux particuliers qu’aux
            entreprises. Proposant une large gamme de produits informatiques de
            haute technologie, le groupe a su se démarquer par la qualité de ses
            produits.
          </p>

          <p class="white">
            Unis dans la passion et dans l’ambition de contribuer au monde de
            demain, JYTA technologie vous accompagnent également dans vos
            projets de digitalisations.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="img-div">
    <h2>JYTA Technologies c'est :</h2>
    <img src="/assets/ImagesSite/apropos-complet.PNG" alt="" class="img-blue" />
  </div>
</body>
