.flex {
  display: flex;
  justify-content: space-evenly;
  background-color: #688aac;
}

.art {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

h6 {
  margin-bottom: 20px;
}

.form-control {
  margin-bottom: 20px;
  text-align: center;
}
