<footer>
  <section class="flex">
    <article class="art">
      <h6>Newsletter</h6>
      <input
        type="text"
        name="email"
        class="form-control form-control-sm"
        placeholder="Entrez votre email"
        aria-label=" email"
        aria-describedby="basic-addon2"
        [(ngModel)]="newsletter.email"
      />
      <button
        (click)="newslettersave()"
        mdbBtn
        color="white"
        outline="true"
        class="btn btn-outline-dark"
        size="sm"
        mdbWavesEffect
      >
        S'abonner
      </button>
    </article>
    <article class="art">
      <h6>Contactez-nous</h6>
      <p><i class="fas fa-home me-3"></i> Nice, France</p>
      <p><i class="fas fa-envelope me-3"></i> contact@jyta-technologies.fr</p>
    </article>
  </section>
</footer>

<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
  © 2022 Copyright JYTA Technologies 2022 -
  <a routerLink="/mentions"> Mentions légales </a>-<a routerLink="/cgv">
    CGV
  </a>
</div>
