.div-global {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
  margin-top: 50px;
}

.div-adresse {
  width: 500px;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 110px;
  background-image: url("/assets/ImagesSite/image_background.jpg");
}

p {
  font-size: 0.8rem;
}

/* Formulaire */

.div-formulaire h2 {
  margin-bottom: 30px;
}

.form-control {
  margin-bottom: 20px;
}

.btn-outline-info {
  margin-top: 10px;
}
