<p>article works!</p>
<section class="sect-produit">
  <!-- Articles produit -->


      <img src="{{ lienImage }}" alt="Ecran 1" class="img-produit"  />
      <span class="span-produit">{{ nom }}</span>  
      <p>{{ description }}</p>
      <p class="prix-produit">A partir de {{ prix }}€</p>
      <div class="container mt-3">
        <!-- <button type="submit" class="btn btn-outline-info" value="{{ iteration }}" (click)="add(iteration)">
          Ajouter au panier
        </button> -->

        <!-- <button type="submit" class="btn btn-outline-info" value="{{ iteration }}" >
          Ajouter au panier
        </button> -->
      </div>

</section>