<body>
  <h1>Mon compte</h1>

  <div class="bandeau">
    <section class="info">
      <!-- Ligne 1 -->
      <div class="ligne1">
        <span class="span1">Bonjour {{ tab.prenom }}</span>
      </div>

      <!-- Ligne 2 -->
      <div class="ligne2">
        <p class="titre">Changez vos coordonnées</p>
        <form>
          <span class="span2">Nouvelle adresse mail :</span>
          <input class="imput1" type="text" placeholder="Entrez votre email" />
          <br />
          <span class="span2">Nouveau pseudo :</span>
          <input class="imput1" type="text" placeholder="Entrer votre pseudo" />
          <br />
          <span class="span2">Nouvelle adresse :</span>
          <input
            class="imput1"
            type="text"
            placeholder="Entrer votre adresse"
          />
          <br />
          <span class="span2">Nouveau code postal :</span>
          <input class="imput1" type="text" placeholder="Entrer votre cp" />
          <br />
          <span class="span2">Nouvelle ville :</span>
          <input
            class="imput1"
            type="text"
            placeholder="Entrer le nom de ville"
          />
        </form>
        <button class="btn btn-outline-info valider">Valider</button>
      </div>
    </section>

    <!-- CHOIX -->
    <section class="choix">
      <article class="art-choix">
        <a href="profil" class="a-choix"
          ><span class="span-choix">Mon profil</span></a
        >
        <a href="coordonnees" class="a-choix"
          ><span class="span-choix">Mes coordonnées</span></a
        >
        <a href="" class="a-choix"
          ><span class="span-choix">Mes commandes</span></a
        >
      </article>
    </section>
  </div>
</body>
