<!----------------------- CAROUSEL ------------------------->
<body>
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-ride="carousel"
  >
    <ol class="carousel-indicators">
      <li
        data-target="#carouselExampleIndicators"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="#"
          ><img
            src="/assets/ImagesSite/pub3.jpg"
            class="d-block w-100"
            alt="..."
        /></a>
      </div>
      <div class="carousel-item">
        <a href="#"
          ><img
            src="/assets/ImagesSite/pub1.jpg"
            class="d-block w-100"
            alt="..."
        /></a>
      </div>
      <div class="carousel-item">
        <a href="#"
          ><img
            src="/assets/ImagesSite/pub4.jpg"
            class="d-block w-100"
            alt="..."
        /></a>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-target="#carouselExampleIndicators"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-target="#carouselExampleIndicators"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>

  <!------------------------- FILTRE  ------------------------->
  <div class="flex">
    <section class="sect-filtre">
      <div class="flex-reset">
        <span class="filtrer">Filtrer</span>
        <div class="container mt-3">
          <button (click)="getArticle()" class="btn btn-outline-info reset">
            Reinitialiser
          </button>
        </div>
      </div>
      <!-- Par nom -->
      <article>
        <h4>Nom</h4>
        <input type="text" [(ngModel)]="nom" class="imput" />
        <button (click)="searchByNom()" class="btn btn-outline-info trouver">
          Trouver
        </button>
      </article>
      <!-- Par prix -->
      <article>
        <h4>Prix</h4>
        <p class="min">Prix minimum</p>
        <input type="number" [(ngModel)]="min" />
        <p class="max">Prix maximum</p>
        <input type="number" [(ngModel)]="max" />
        <button (click)="searchByPrix()" class="btn btn-outline-info trouver">
          Trouver
        </button>
      </article>
    </section>

    <!------------------------- LISTE PRODUITS  ------------------------->
    <section class="sect-produit">
      <!-- Articles produit -->

      <article
        class="art-produit"
        *ngFor="let pist of myList; let iteration = index"
      >
        <input type="hidden" value="{{ iteration }}" />
        <img src="{{ pist.lienImage }}" alt="Ecran 1" class="img-produit" />
        <span class="span-produit">{{ pist.nom }}</span>
        <p>{{ pist.description }}</p>
        <p class="prix-produit">A partir de {{ pist.prix }}€</p>
        <div class="container mt-3">
          <button
            type="submit"
            class="btn btn-outline-info"
            routerLink="/article/{{ pist.id }}"
            value="{{ iteration }}"
          >
            En savoir plus
          </button>
        </div>
      </article>
    </section>
  </div>

  <br />

  <!-- <section class="sect-produit">
     Articles produit

      <article class="art-produit" *ngFor="let pist of myList; let iteration = index" >
        <input type="hidden" value="{{ iteration }}" >
         <form (ngSubmit)="addTer()"> -->
  <!-- <form #signupForm="ngForm" (ngSubmit)="addTer(signupForm)"> -->
  <!-- <input type="text" name="nom" id="nom" value="{{ pist.nom }}" ngModel>
          <input type="text" name="prix" id="prix" value="{{ pist.prix }}" ngModel>
          <input type="text" name="test" id="test" value="bonjour" ngModel>
            
          <input type="text" name="nom" id="nom" value="{{ myList[iteration].nom }}">
          <input type="text" name="prix" id="prix" value="{{ myList[iteration].prix }}">

          <img src="{{ pist.lienImage }}" alt="Ecran 1" class="img-produit" routerLink="/article/{{pist.nom}}" />
          <span class="span-produit">{{ pist.nom }}</span>  
          <p>{{ pist.description }}</p>
          <p class="prix-produit">A partir de {{ pist.prix }}€</p>
          <div class="container mt-3">
           <button type="submit" class="btn btn-outline-info" value="{{ iteration }}" (click)="add(iteration)">
              Ajouter au panier
            </button> -->

  <!-- <button type="submit" class="btn btn-outline-info" value="{{ iteration }}" >
              Ajouter au panier
            </button> 
          </div>

        </form>
      </article>
    </section>
  </div>

  <br />
  {{ message }} -->
</body>
