

  <div style=" position:relative;height:400px">
    <div style="z-index:1">
       <img src="/assets/ImagesSite/server.jpg">
    </div>
    <div  style="position:absolute; top:300px; right: 300px;  z-index:2; font-size:150%">
       <div  class=" col-md-6  text-white text-center" ><b>YUJE vous propose ses services pour vous accompagner dans votre développement digital </b></div>
     </div> 
 </div>

 <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br>
 <div class="container">
    <div class="row">
       
        <div class="col-sm-11 col-md-11 col-lg-11 text-center" >
Vous avez un projet ? 
    </div>
</div>
<br>
<div class="container">
    <div class="row">
       
        <div class="col-sm-11 col-md-11 col-lg-11 text-center">
Contactez-nous ! Un conseiller se chargera de prendre le temps de vous répondre dans les plus bref délai !         </div>
    </div>
</div>
<br><br>
  <!-- Formulaire  -->
<div class="register-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Civilite</label>
      <select formControlName="title" 
      class="form-control" 
      [ngClass]="{ 'is-invalid': submitted && f['title'].errors }">
       
          <option value="Monsieur">Monsieur</option>
          <option value="Madame">Madame</option>
          
      </select>
      <div *ngIf="submitted &&  f['title'].errors" class="invalid-feedback">
          <div *ngIf=" f['title'].errors['required']">Champ obligatoire</div>
      </div>
  </div>

  
  <div class="col-sm-5 col-md-5 col-lg-5">
    <label>Nom</label>
    <input
      type="text"
      formControlName="nom"
      class="form-control"  
      [ngClass]="{ 'is-invalid': submitted && f['nom'].errors }"
    />
    <div *ngIf="submitted && f['nom'].errors" class="invalid-feedback">
      <div *ngIf="f['nom'].errors['required']">Champ obligatoire</div>
    </div>
  </div>

  <div class="col-sm-5 col-md-5 col-lg-5">
      <label>Prenom</label>
      <input
        type="text"
        formControlName="prenom"
        class="form-control"  
        [ngClass]="{ 'is-invalid': submitted && f['prenom'].errors }"
      />
      <div *ngIf="submitted && f['prenom'].errors" class="invalid-feedback">
        <div *ngIf="f['prenom'].errors['required']">Champ obligatoire</div>
      </div>
    </div>

    <div class="col-sm-5 col-md-5 col-lg-5">
      <label>Société</label>
      <input
        type="text"
        formControlName="societe"
        class="form-control"  
        [ngClass]="{ 'is-invalid': submitted && f['societe'].errors }"
      />
      <div *ngIf="submitted && f['societe'].errors" class="invalid-feedback">
        <div *ngIf="f['societe'].errors['required']">Champ obligatoire</div>
      </div>
    </div>
  
    <div class="col-sm-5 col-md-5 col-lg-5">
        <label>N°Siret</label>
        <input
          type="text"
          formControlName="nsiret"
          class="form-control"  
          [ngClass]="{ 'is-invalid': submitted && f['nsiret'].errors }"
        />
       
      </div>

      <div class="col-sm-5 col-md-5 col-lg-5">
        <label>Telephone</label>
        <input
          type="text"
          formControlName="telephone"
          class="form-control"  
          [ngClass]="{ 'is-invalid': submitted && f['telephone'].errors }"
        />
        <div *ngIf="submitted && f['telephone'].errors" class="invalid-feedback">
          <div *ngIf="f['telephone'].errors['required']">Champ obligatoire</div>
        </div>
      </div>
  
      <div class="col-sm-5 col-md-5 col-lg-5">
        <label>Email</label>
        <input
          type="text"
          formControlName="email"
          class="form-control  "
          [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
        />
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
          <div *ngIf="f['email'].errors['required']">Email is required</div>
          <div *ngIf="f['email'].errors['email']">Email is invalid</div>
        </div>
      </div>

    
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label>Objet</label>
        <select formControlName="objet" 
        class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f['objet'].errors }">
         
            <option value="1">Demande d'équipements</option>
            <option value="2">Demande de services</option>
            <option value="3">Solution Microsoft</option>
            <option value="4">Solution Apple</option>
            <option value="5">Solution Linux</option>
            <option value="6">Solution de mobilité</option>
            <option value="7">Autres</option>
           
            
        </select>
        <div *ngIf="submitted &&  f['objet'].errors" class="invalid-feedback">
            <div *ngIf=" f['objet'].errors['required']">Champ obligatoire</div>
        </div>
    </div>

    <div class="col-sm-5 col-md-5 col-lg-5">
      <label for="msg">Message </label>
      <textarea  type="text"
      formControlName="message"
      class="form-control "
      [ngClass]="{ 'is-invalid': submitted && f['message'].errors }"></textarea>
      
      <div *ngIf="submitted && f['message'].errors" class="invalid-feedback">
        <div *ngIf="f['message'].errors['required']">Champ obligatoire</div>
      </div>
    </div>

  

    <br><br>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Envoyer</button>
        
      </div>
    </form>



  </div> 
 