<a href="#"
  ><div class="flex">
    <video
      class="video"
      src="/assets/ImagesSite/vostro.mp4"
      controls
    ></video></div
></a>

<h1>Découvrez nos derniers produits</h1>

<div class="news">
  <a href="#"
    ><img class="img" src="/assets/ImagesProduit/Inelucto.JPG" alt="Produit 1"
  /></a>
  <a href="#">
    <img class="img" src="/assets/ImagesProduit/bilbon.JPG" alt="Produit 2"
  /></a>
  <a href="#"
    ><img class="img" src="/assets/ImagesProduit/mastro.JPG" alt="Produit 3"
  /></a>
</div>

<!------------- SECTION  1 ------------>
<section class="sect1">
  <!-- Nos services -->
  <div class="srv">
    <img
      class="img-srv"
      src="/assets/ImagesSite/services.jpg"
      alt="Nos services"
    />
    <a href="#"><p class="srv-p">Consultez nos prestations de services</p></a>
  </div>

  <!-- Nos engagements -->
  <div class="flex-h">
    <div class="flex-engage">
      <h3 class="h3-engage">Nos engagements</h3>
      <img
        class="img-main"
        src="/assets/ImagesSite/main2.png"
        alt="Nos nouveautés"
      />
    </div>
    <div>
      <i class="fas fa-cog"></i>
      <h4>Contacter le support</h4>
      <p class="engage-p">
        Lasissez-nous vous aider pour toutes vos questions sur les produits ou
        services
      </p>
      <h4>Garantie & Contrats</h4>
      <p class="engage-p">Vérifir la garantie du produit</p>
      <h4>Support produit</h4>
      <p class="engage-p">Expertise.Commodité.Support de qualité.</p>
      <h4>Pilotes & Téléchargements</h4>
      <p class="engage-p">Obtenez les derniers pilotes et logiciels</p>
    </div>
  </div>
</section>

<!------------- SECTION  2 ------------>
<h3>Notre actualité</h3>
<section class="sec2">
  <article class="art-actu">
    <h4 class="h4-actu">Le paradoxe des données</h4>
    <img class="img-actu" src="/assets/ImagesSite/data.webp" alt="Photo data" />
    <p>
      Une nouvelle étude examine la maturité des données dans l'économie à la
      demande.
    </p>
    <a href=""><span>En savoir plus</span></a>
  </article>
  <article class="art-actu">
    <h4 class="h4-actu">Témoignage client: Draper</h4>
    <img
      class="img-actu"
      src="/assets/ImagesSite/temoignages.png"
      alt="Photo témoignage"
    />
    <p>
      Draper soutient ses collabateurs grâce à la science et aux technologies
      d'ingénierie.
    </p>
    <a href=""><span>En savoir plus</span></a>
  </article>
  <article class="art-actu">
    <h4 class="h4-actu">Nouveau podcast TrailBlazers</h4>
    <img
      class="img-actu"
      src="/assets/ImagesSite/podcast.webp"
      alt="Photo podcast"
    />
    <p>
      Découvrez comment les abonnements ont évolué en partant de simples
      publications pour finalement vous fournir tout ce dont vous avez besoin.
    </p>
    <a href=""><span>En savoir plus</span></a>
  </article>
  <article class="art-actu">
    <h4 class="h4-actu">Ce que nous proposons</h4>
    <img
      class="img-actu"
      src="/assets/ImagesSite/future.png"
      alt="Photo future"
    />
    <p>
      Nos solutions de bout en bout vous soutiennet et vous aident à batir un
      avenir meilleur.
    </p>
    <a href=""><span>En savoir plus</span></a>
  </article>
</section>
