<p>add-clients works!</p>



<div class="container">
    <div>
    <h2>Inscription :</h2>
    </div>

    <form >
    <div class="col-sm-5 col-md-5 col-lg-5">

    <label >Nom</label>
    <input type="text" [(ngModel)]="newClient.nom" name="nom" class="form-control">
    </div>

    <div class="col-sm-5 col-md-5 col-lg-5">
    <label >Prenom</label>
    <input type="text"[(ngModel)]= "newClient.prenom" name="prenom" class="form-control">
    </div>
    
    <div class="col-sm-5 col-md-5 col-lg-5">
    <label >Date de Naissance</label>
    <input type="date" [(ngModel)]= "newClient.birthday" name="birthday" class="form-control">
    </div>

    <div class="col-sm-5 col-md-5 col-lg-5">
        <label >Adresse</label>
        <input type="text" [(ngModel)]="newClient.adresse" name="adresse" class="form-control">
        </div>

        <div class="col-sm-5 col-md-5 col-lg-5">
        <label >Code Postal</label>
        <input type="number"[(ngModel)]= "newClient.codePostal" name="codePostal" class="form-control">
        </div>

        <div class="col-sm-5 col-md-5 col-lg-5">
        <label >Ville</label>
        <input type="text" [(ngModel)]= "newClient.ville" name="ville" class="form-control">
        </div>

        <div class="col-sm-5 col-md-5 col-lg-5">
            <label >E-mail</label>
            <input type="text" [(ngModel)]="newClient.email" name="email" class="form-control">
            </div>

            <div class="col-sm-5 col-md-5 col-lg-5">
            <label >Identifiant</label>
            <input type="text"[(ngModel)]= "newClient.username" name="username" class="form-control">
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="Password">Password</label>
                <div class="col-md-4">
                <input id="Password" type="password" class="form-control" name="Password" [(ngModel)]= "newClient.password" />
                
                </div> 
                </div>

            <div class="form-group">
                <label class="col-md-3 control-label" for="ConfirmPassword">Confirmation Password </label>
                <div class="col-md-4">
                <input  type="password" class="form-control" name="ConfirmPassword" [(ngModel)]= "newClient.password" />
                </div>
                </div>
    
            <div class="mt-2">
    <button type="submit" (click)="addClient()" class="btn btn-success"  value="Sign Up" >Inscription</button>
    <div> <h5>
{{message}}

    </h5>


    </div>

    </div>
    </form>
    </div>

  